<% provide(:title, "Album Edit") %>
<div class="container">
    <script>
        $('#myAffix').affix({
            offset: {
                top: 100
                , bottom: function () {
                    return (this.bottom = $('.bs-footer').outerHeight(true))
                }
            }
        })
    </script>
    <div id="myAffix" data-spy="affix">
        <a href="#" class="list-group-item album-affix">Album Information</a>
    </div>

    <!-- added these breaks because menu was covering up forms -->
    <br><br><br><br><br>

    <div class="album-edit">

    <%@submit = 'Create'%>
    <%= render 'album_form' %>

    </div> 
</div>