// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.playlist-title:hover{
	background-color: #e8e9e8;
	cursor: pointer;
}

.playlist-title{
	width: 200px;
}