// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

legend{
	font-size:18px;
	text-align:left;
}

fieldset {
	text-align:left;
}

.top-albums {
	text-align:center;
}

.discover-albums {
	text-align:center;
}

.albums {
	text-align:center;
}

.song-icons {
	font-size:20px;
	padding-top: 2px;
}

.song-title {
	font-size:16px;
	text-align:left;
	padding-left: 5px;
}

.song-credits {
	padding-top: 10px;
	padding-bottom:10px;
	font-size: 10px;
}

.artist-cover {
	text-align:center;
	vertical-align:middle;
}

.artist-name {
	text-align:center;
	vertical-align:bottom;
}

.artist-desc {
	text-align:left;
	vertical-align:top;
}


.album-info {
	text-align:center;
	vertical-align:middle;
}

.signup-button {
	width: 150px;
}

.signup-fields {
	width: 200px;
}

.signup-left{
	text-align:right;
	width:50%;
}

.signup-right {
	text-align:left;
	margin-left: 5px;
	width:50%;
}

.navbar-nav > li > a {
	padding-bottom: 7px;
	padding-top: 7px;
	vertical-align:middle;
}

table {
	margin:auto;
}

.container {
	padding-top: 70px;
  	background-color: #f8f8f8;
	border:double;
	border-color: #e7e7e7;
	text-align:center;
}

.navbar{
	margin-left:auto;
	margin-right:auto;
	border-style:double;
	border-width:medium;
	border-top-style:none;
}