/* Place all the styles related to the Pages controller here. */
/* They will automatically be included in application.css. */
/* You can use Sass (SCSS) here: http://sass-lang.com/ */


/* Default + Container Class CSS */

html,body {
	background-color:#a3a3a3;
	font-family: 'Oswald', sans-serif;
	height: 100%;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Oswald', sans-serif;
}
.container {
	padding-top: 70px;
	text-align:center;
	height: 80%;
}

legend{
	font-size:18px;
	text-align:left;
	border-bottom-color:#333;
}

fieldset {
	text-align:left;
}

footer {
	height: 20%;
	text-align: center;
	background: #a3a3a3;
	background: -moz-linear-gradient(top,  #a3a3a3 0%, #c9c9c9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a3a3a3), color-stop(100%,#c9c9c9));
	background: -webkit-linear-gradient(top,  #a3a3a3 0%,#c9c9c9 100%);
	background: -o-linear-gradient(top,  #a3a3a3 0%,#c9c9c9 100%);
	background: -ms-linear-gradient(top,  #a3a3a3 0%,#c9c9c9 100%);
	background: linear-gradient(to bottom,  #a3a3a3 0%,#c9c9c9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3a3a3', endColorstr='#c9c9c9',GradientType=0 );
}

/* Navbar CSS */

.navbar {
	margin-left:auto;
	margin-right:auto;
}

.navbar-custom {
	background: #c9c9c9;
	background: -moz-linear-gradient(top,  #c9c9c9 0%, #a3a3a3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9c9c9), color-stop(100%,#a3a3a3));
	background: -webkit-linear-gradient(top,  #c9c9c9 0%,#a3a3a3 100%);
	background: -o-linear-gradient(top,  #c9c9c9 0%,#a3a3a3 100%);
	background: -ms-linear-gradient(top,  #c9c9c9 0%,#a3a3a3 100%);
	background: linear-gradient(to bottom,  #c9c9c9 0%,#a3a3a3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#a3a3a3',GradientType=0 );
	border-color: #a3a3a3;
}

.navbar-nav > li > a {
	padding-bottom: 7px;
	padding-top: 7px;
	vertical-align:middle;
}

.navbar-default .navbar-nav > li > a {
	color:#000;
}

.navbar-default .navbar-nav > li > a:hover {
	color:#333;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color:#000;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color:#000;
	background-color:rgba(0,0,0,0.2);
}

.navbar-default .navbar-nav > .dropdown > a .caret {
	border-top-color:#000;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret {
	border-top-color:#333;
}

/*.search-custom{	
	margin-right:0;
}
.btn-custom{
	margin-left:250px;
	margin-top:-34px;
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
	position:fixed;
	z-index:1;
}*/


.top-albums {
	text-align:center;
}

.discover-albums {
	text-align:center;
}

.albums {
	text-align:center;
}

.song-icons {
	font-size:20px;
	padding-top: 2px;
}

.song-title {
	font-size:16px;
	text-align:left;
	padding-left: 5px;
}

.song-credits {
	padding-top: 10px;
	padding-bottom:10px;
	font-size: 10px;
}

.artist-cover {
	text-align:center;
	vertical-align:middle;
}

.artist-name {
	text-align:center;
	vertical-align:bottom;
}

.artist-desc {
	text-align:left;
	vertical-align:top;
}


.album-info {
	text-align:center;
	vertical-align:middle;
}

.signup-button {
	width: 150px;
}

.signup-fields {
	width: 200px;
}

.signup-left{
	text-align:right;
	width:50%;
}

.signup-right {
	text-align:left;
	padding-left: 5px;
	width:50%;
}

table {
	margin:auto;
}

#myAffix.affix-top {
    position: static;
  	margin-top:70px;
  	width:228px;
}
  
#myAffix.affix {
    position: fixed;
    top:70px;
    width:228px;
}

.affix,.affix-top {
   position:static;
}

.album-edit {
	padding-left: 238px;
}

.album-affix{
	padding: 5px 10px;
}

.copyright {
	font-size:9px;
}